In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('./data/Relacao+de+Servidores.csv', encoding='utf-8')

In [3]:
df.head()

,Matrícula,Nome Servidor,CPF,Regime,Secretaria,Cargo,Salário Contratual R$
0,7945,ABDENACK ESTEVES TRINDADE,XXX.147.406.XX,TEMPORARIO,SECRETARIA MUNICPAL DE SAUDE,MEDICO,"931,48"
1,12103,ABDIAS ANDRE CAIXETA MAGALHAES TIBURCIO,XXX.011.976.XX,NORMAL,SECRETARIA MUNICPAL DE SAUDE,ENFERMEIRO...,"3.311,65"
2,7197,ABDIAS SALOME JUNIOR,XXX.434.296.XX,NORMAL,SECRETARIA MUNICPAL DE SAUDE,AUX.SERV.ADMINISTRATIVO,"357,53"
3,5354,ABEL FRANCISCO REIS,XXX.358.876.XX,NORMAL,SECRET.MUNIC.SEG.TRANS.TRANSP.PUBLI,ASSISTENTE ADMINISTRATIVO,"3.970,75"
4,9543,ABEL LUIZ ALMEIDA,XXX.007.756.XX,NORMAL,SECRETARIA MUNICIPAL DE EDUCACAO,AUXILIAR DE SERVIÇOS GERAIS,"1.425,02"

In [5]:
salary = df.to_json(orient="split")
file = open('./data/salary.json', 'w')
file.write(salary)
file.close()
salary = df.to_json()
file = open('./data/salary2.json', 'w')
file.write(salary)
file.close()
salary = df.to_json(orient='values')
file = open('./data/salary2values.json', 'w')
file.write(salary)
file.close()